<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.activititest.dao.ActReModelMapper">
  <resultMap id="BaseResultMap" type="com.example.activititest.po.ActReModel">
    <id column="ID_" jdbcType="VARCHAR" property="id" />
    <result column="REV_" jdbcType="INTEGER" property="rev" />
    <result column="NAME_" jdbcType="VARCHAR" property="name" />
    <result column="KEY_" jdbcType="VARCHAR" property="key" />
    <result column="CATEGORY_" jdbcType="VARCHAR" property="category" />
    <result column="CREATE_TIME_" jdbcType="TIMESTAMP" property="createTime" />
    <result column="LAST_UPDATE_TIME_" jdbcType="TIMESTAMP" property="lastUpdateTime" />
    <result column="VERSION_" jdbcType="INTEGER" property="version" />
    <result column="META_INFO_" jdbcType="VARCHAR" property="metaInfo" />
    <result column="DEPLOYMENT_ID_" jdbcType="VARCHAR" property="deploymentId" />
    <result column="EDITOR_SOURCE_VALUE_ID_" jdbcType="VARCHAR" property="editorSourceValueId" />
    <result column="EDITOR_SOURCE_EXTRA_VALUE_ID_" jdbcType="VARCHAR" property="editorSourceExtraValueId" />
    <result column="TENANT_ID_" jdbcType="VARCHAR" property="tenantId" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ID_, REV_, NAME_, KEY_, CATEGORY_, CREATE_TIME_, LAST_UPDATE_TIME_, VERSION_, META_INFO_, 
    DEPLOYMENT_ID_, EDITOR_SOURCE_VALUE_ID_, EDITOR_SOURCE_EXTRA_VALUE_ID_, TENANT_ID_
  </sql>
  <select id="selectByExample" parameterType="com.example.activititest.po.ActReModelExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from act_re_model
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from act_re_model
    where ID_ = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from act_re_model
    where ID_ = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.example.activititest.po.ActReModelExample">
    delete from act_re_model
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.example.activititest.po.ActReModel">
    insert into act_re_model (ID_, REV_, NAME_, 
      KEY_, CATEGORY_, CREATE_TIME_, 
      LAST_UPDATE_TIME_, VERSION_, META_INFO_, 
      DEPLOYMENT_ID_, EDITOR_SOURCE_VALUE_ID_, EDITOR_SOURCE_EXTRA_VALUE_ID_, 
      TENANT_ID_)
    values (#{id,jdbcType=VARCHAR}, #{rev,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, 
      #{key,jdbcType=VARCHAR}, #{category,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{lastUpdateTime,jdbcType=TIMESTAMP}, #{version,jdbcType=INTEGER}, #{metaInfo,jdbcType=VARCHAR}, 
      #{deploymentId,jdbcType=VARCHAR}, #{editorSourceValueId,jdbcType=VARCHAR}, #{editorSourceExtraValueId,jdbcType=VARCHAR}, 
      #{tenantId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.example.activititest.po.ActReModel">
    insert into act_re_model
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID_,
      </if>
      <if test="rev != null">
        REV_,
      </if>
      <if test="name != null">
        NAME_,
      </if>
      <if test="key != null">
        KEY_,
      </if>
      <if test="category != null">
        CATEGORY_,
      </if>
      <if test="createTime != null">
        CREATE_TIME_,
      </if>
      <if test="lastUpdateTime != null">
        LAST_UPDATE_TIME_,
      </if>
      <if test="version != null">
        VERSION_,
      </if>
      <if test="metaInfo != null">
        META_INFO_,
      </if>
      <if test="deploymentId != null">
        DEPLOYMENT_ID_,
      </if>
      <if test="editorSourceValueId != null">
        EDITOR_SOURCE_VALUE_ID_,
      </if>
      <if test="editorSourceExtraValueId != null">
        EDITOR_SOURCE_EXTRA_VALUE_ID_,
      </if>
      <if test="tenantId != null">
        TENANT_ID_,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="rev != null">
        #{rev,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="key != null">
        #{key,jdbcType=VARCHAR},
      </if>
      <if test="category != null">
        #{category,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdateTime != null">
        #{lastUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="version != null">
        #{version,jdbcType=INTEGER},
      </if>
      <if test="metaInfo != null">
        #{metaInfo,jdbcType=VARCHAR},
      </if>
      <if test="deploymentId != null">
        #{deploymentId,jdbcType=VARCHAR},
      </if>
      <if test="editorSourceValueId != null">
        #{editorSourceValueId,jdbcType=VARCHAR},
      </if>
      <if test="editorSourceExtraValueId != null">
        #{editorSourceExtraValueId,jdbcType=VARCHAR},
      </if>
      <if test="tenantId != null">
        #{tenantId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.example.activititest.po.ActReModelExample" resultType="java.lang.Long">
    select count(*) from act_re_model
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update act_re_model
    <set>
      <if test="record.id != null">
        ID_ = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.rev != null">
        REV_ = #{record.rev,jdbcType=INTEGER},
      </if>
      <if test="record.name != null">
        NAME_ = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.key != null">
        KEY_ = #{record.key,jdbcType=VARCHAR},
      </if>
      <if test="record.category != null">
        CATEGORY_ = #{record.category,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        CREATE_TIME_ = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.lastUpdateTime != null">
        LAST_UPDATE_TIME_ = #{record.lastUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.version != null">
        VERSION_ = #{record.version,jdbcType=INTEGER},
      </if>
      <if test="record.metaInfo != null">
        META_INFO_ = #{record.metaInfo,jdbcType=VARCHAR},
      </if>
      <if test="record.deploymentId != null">
        DEPLOYMENT_ID_ = #{record.deploymentId,jdbcType=VARCHAR},
      </if>
      <if test="record.editorSourceValueId != null">
        EDITOR_SOURCE_VALUE_ID_ = #{record.editorSourceValueId,jdbcType=VARCHAR},
      </if>
      <if test="record.editorSourceExtraValueId != null">
        EDITOR_SOURCE_EXTRA_VALUE_ID_ = #{record.editorSourceExtraValueId,jdbcType=VARCHAR},
      </if>
      <if test="record.tenantId != null">
        TENANT_ID_ = #{record.tenantId,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update act_re_model
    set ID_ = #{record.id,jdbcType=VARCHAR},
      REV_ = #{record.rev,jdbcType=INTEGER},
      NAME_ = #{record.name,jdbcType=VARCHAR},
      KEY_ = #{record.key,jdbcType=VARCHAR},
      CATEGORY_ = #{record.category,jdbcType=VARCHAR},
      CREATE_TIME_ = #{record.createTime,jdbcType=TIMESTAMP},
      LAST_UPDATE_TIME_ = #{record.lastUpdateTime,jdbcType=TIMESTAMP},
      VERSION_ = #{record.version,jdbcType=INTEGER},
      META_INFO_ = #{record.metaInfo,jdbcType=VARCHAR},
      DEPLOYMENT_ID_ = #{record.deploymentId,jdbcType=VARCHAR},
      EDITOR_SOURCE_VALUE_ID_ = #{record.editorSourceValueId,jdbcType=VARCHAR},
      EDITOR_SOURCE_EXTRA_VALUE_ID_ = #{record.editorSourceExtraValueId,jdbcType=VARCHAR},
      TENANT_ID_ = #{record.tenantId,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.activititest.po.ActReModel">
    update act_re_model
    <set>
      <if test="rev != null">
        REV_ = #{rev,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        NAME_ = #{name,jdbcType=VARCHAR},
      </if>
      <if test="key != null">
        KEY_ = #{key,jdbcType=VARCHAR},
      </if>
      <if test="category != null">
        CATEGORY_ = #{category,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        CREATE_TIME_ = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdateTime != null">
        LAST_UPDATE_TIME_ = #{lastUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="version != null">
        VERSION_ = #{version,jdbcType=INTEGER},
      </if>
      <if test="metaInfo != null">
        META_INFO_ = #{metaInfo,jdbcType=VARCHAR},
      </if>
      <if test="deploymentId != null">
        DEPLOYMENT_ID_ = #{deploymentId,jdbcType=VARCHAR},
      </if>
      <if test="editorSourceValueId != null">
        EDITOR_SOURCE_VALUE_ID_ = #{editorSourceValueId,jdbcType=VARCHAR},
      </if>
      <if test="editorSourceExtraValueId != null">
        EDITOR_SOURCE_EXTRA_VALUE_ID_ = #{editorSourceExtraValueId,jdbcType=VARCHAR},
      </if>
      <if test="tenantId != null">
        TENANT_ID_ = #{tenantId,jdbcType=VARCHAR},
      </if>
    </set>
    where ID_ = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.activititest.po.ActReModel">
    update act_re_model
    set REV_ = #{rev,jdbcType=INTEGER},
      NAME_ = #{name,jdbcType=VARCHAR},
      KEY_ = #{key,jdbcType=VARCHAR},
      CATEGORY_ = #{category,jdbcType=VARCHAR},
      CREATE_TIME_ = #{createTime,jdbcType=TIMESTAMP},
      LAST_UPDATE_TIME_ = #{lastUpdateTime,jdbcType=TIMESTAMP},
      VERSION_ = #{version,jdbcType=INTEGER},
      META_INFO_ = #{metaInfo,jdbcType=VARCHAR},
      DEPLOYMENT_ID_ = #{deploymentId,jdbcType=VARCHAR},
      EDITOR_SOURCE_VALUE_ID_ = #{editorSourceValueId,jdbcType=VARCHAR},
      EDITOR_SOURCE_EXTRA_VALUE_ID_ = #{editorSourceExtraValueId,jdbcType=VARCHAR},
      TENANT_ID_ = #{tenantId,jdbcType=VARCHAR}
    where ID_ = #{id,jdbcType=VARCHAR}
  </update>
</mapper>